<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>WatchApp (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>WatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>WhiteBoard-Watch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>WhiteBoard-Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WhiteBoard-Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WhiteBoardCoreData-Watch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WhiteBoardCoreData-Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WhiteBoardCoreData-Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WhiteBoardCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C807A4E31EA7EB50002D8784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C807A4FE1EA7FE68002D8784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C872AF651E4A79E80080FC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8D3802B1E3446F300973167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8D380421E3446F300973167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8EA09661E34FFA40090E0F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8EA09931E3501090090E0F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
